@font-face {
  font-family: 'TTTtangsbudaejjigaeB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body{
    background-image: url('https://ifh.cc/g/o6dYc0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }


.main{
    text-align: center;
    padding : 350px 0;
    font-size:50px;
    font-weight: 900;
    color: whitesmoke;
    font-family: 'TTTtangsbudaejjigaeB';
}

.maker {
  text-align: right;
  color:orange;
  font-size:150%;
  font-weight:bolder;
}
